.div-content {
	background-color: var(--medium);
	padding: 100px 50px;
	min-height: 100vh;
	color: var(--dark);
}
.content-item {
	margin: 30px 20px;
	padding: 40px 10px;
	background-color: var(--light);
	border: 1px solid var(--dark);
	border-radius: 10px;
}