nav {
	background-color: var(--dark);
	position: fixed;
	width: 100%;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.333);
	border-bottom: 1px solid var(--dark);
}
.nav-item {
	margin: 10px 10px;
	padding: 4px 20px;
	background-color: var(--light);
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	border: 0.5px solid var(--dark);
	color: var(--dark);
}
.nav-item:hover {
	opacity: 0.8;
}
.nav-btn {
	margin: 0px 20px;
	text-align: center;
	cursor: pointer;
}










nav > ul {
	display: flex;
}
nav > ul > li {
	list-style: none;
	margin: 5px 10px;
	padding: 5px 10px;
}
.bottomArrow {
	border: 1px solid grey;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 0px;
	text-align: center;
	padding: 2px;
	margin: 8px;
	background-color: rgb(193, 238, 248);
	border: 1px solid blue;
	cursor: pointer;
}